extends layout

block content
    div.container
        h1=title
        ul.errors
            if errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
        .col-sm-6
            form(method='post', action='/authors/add')
                .form-group
                    label Add new author
                    input.form-control(name='author', type='text')
                input.btn.btn-default(name='submit', type='submit', value='Save')
        .col-sm-6
            if authors
                h3 Author list
                ul
                    for author in authors
                        li=author.author


    include footer