footer
    section
        .footer
            .container-fluid
                .container
                    .row
                        .col-md-4.col-sm-12.col-xs-12
                            img(src='/images/footer-logo.png', alt='logo')
                            i.fa.fa-thumb-tack.hidden-xs.hidden-sm(aria-hidden='true')
                            span.address.hidden-xs.hidden-sm Weston Pointe II, 2200 N. Commerce Parkway, Weston, Florida, 33326
                            i.fa.fa-phone.hidden-xs.hidden-sm(aria-hidden='true')
                            span.tel.hidden-xs.hidden-sm +1(754) 989 0251
                            i.fa.fa-envelope.hidden-xs.hidden-sm(aria-hidden='true')
                            span.email.hidden-xs.hidden-sm support@123helpme.org
                        .col-md-2.hidden-xs.hidden-sm
                            .footer-menu
                                nav
                                    span.nav-header Navigation
                                    ul
                                        li
                                            a(href='#') Home
                                        li
                                            a(href='#') About Us
                                        li
                                            a(href='#') Order Now
                                        li
                                            a(href='#') Guarantees
                                        li
                                            a(href='#') Discounts
                                        li
                                            a(href='#') Prices
                                        li
                                            a(href='#') Blog
                                        li
                                            a(href='#') Contact Us
                        .col-md-6.articles-wrapper.hidden-xs.hidden-sm
                            .row
                                .col-lg-12
                                    .footer-article
                                        | Articles
                            .row.nav-articles
                                .col-lg-4.col-md-6
                                    nav
                                        ul
                                            li
                                                a(href='#') Best Online Papers
                                            li
                                                a(href='#') Buy a Good Essay
                                            li
                                                a(href='#') Buy Cheap Essay
                                            li
                                                a(href='#') Buy College Papers Online
                                            li
                                                a(href='#') Buy Custom Essay Paper
                                            li
                                                a(href='#') Buy Essay Now
                                            li
                                                a(href='#') Buy Essays Now
                                            li
                                                a(href='#') Buy Research Papers Cheap
                                .col-lg-4.col-md-6
                                    nav
                                        ul
                                            li
                                                a(href='#') Best Online Papers
                                            li
                                                a(href='#') Buy a Good Essay
                                            li
                                                a(href='#') Buy Cheap Essay
                                            li
                                                a(href='#') Buy College Papers Online
                                            li
                                                a(href='#') Buy Custom Essay Paper
                                            li
                                                a(href='#') Buy Essay Now
                                            li
                                                a(href='#') Buy Essays Now
                                            li
                                                a(href='#') Buy Research Papers Cheap
                                .col-lg-4.hidden-md.hidden-sm.hidden-xs
                                    nav
                                        ul
                                            li
                                                a(href='#') Best Online Papers
                                            li
                                                a(href='#') Buy a Good Essay
                                            li
                                                a(href='#') Buy Cheap Essay
                                            li
                                                a(href='#') Buy College Papers Online
                                            li
                                                a(href='#') Buy Custom Essay Paper
                                            li
                                                a(href='#') Buy Essay Now
                                            li
                                                a(href='#') Buy Essays Now
                                            li
                                                a(href='#') Buy Research Papers Cheap
                    .row.footer-down
                        .col-md-4.col-sm-12.col-xs-12
                            span.right 123Helpme.org © 2017 All right recerved
                        .col-md-6.hidden-xs.hidden-sm
                            img(src='/images/pay.png', alt='')
                        .col-md-2.hidden-xs.hidden-sm
                            .social-icons
                                ul
                                    li
                                        a(href='#')
                                            i.fa.fa-facebook-square(aria-hidden='true')
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter-square(aria-hidden='true')
                                    li
                                        a(href='#')
                                            i.fa.fa-pinterest-square(aria-hidden='true')
                                    li
                                        a(href='#')
                                            i.fa.fa-google-plus-square(aria-hidden='true')